{% block javascript %}
<script src="createfeed.js"></script>
{% endblock %}

{% block content %}
{{ form.errors }}
{{ form.non_field_errors }}
{{ form.regName.label_tag }}
{{ form.regName }}
{{ form.regName.errors }}
<h1>FEEDO</h1>
<table style="width:45%">
<form action="" method="post">
{% csrf_token %}


{% for field in form %}
	<tr>
        {{ field.errors }}
	<td>{{ field.label_tag }}</td><td>{{ field }}</td>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
	</tr>
{% endfor %}
<input type="submit" value="Create Feed" />
</form>
</table>
{% load static %}
<table class="outer_bound" id="id_outer_bound">
<tr>
	<td>
		<tr>
		<table class="website_control" id="id_website_control">
			<tr>
			<td>	
				<button type="button" id="id_load_website_btn">Load Website!</button>
				<input type="text" id="id_load_website_inp">
			</td>
			<tr>

				<td><label id="id_status_ajax_load" >STATUS</label></td>
			</tr>
			<tr>
				<td class="upper_iframe_table"><div id="id_iframe_history"></div></td>
			</tr>

		</table>
		</tr>
		<tr>
			<td class="left_iframe_table"><div id="id_iframe_output"></div></td>
		</tr>
	</td>


	<td>
		<table class="iframe_table">
		<tr >
			<td class="right_iframe_table"><iframe src="{% static "defaults/startiframe.html" %}" sandbox="allow-same-origin allow-scripts" class="external_iframe" style="border: 1px; width: 80%; height: 1000px;" id="id_iframe_external_site"></iframe></td>
		</tr>
		</table>
	<td>
</tr>
</table>

<div class="menu">
 <ul>
 <span id="id_right_click_info" class="right_click_info"=></span>	 
 <a id="id_add_title" href="#"><li>Add As Title</li></a>
 <a id="id_add_desc" href="#"><li>Add As Description</li></a>
 <a id="id_add_link" href="#"><li>Add As Link</li></a>
 <a id="id_add_img" href="#"><li>Add As Image</li></a>
 <a id="id_add_page_counter" href="#"><li>Add Element for Crawling Page Numbers</li></a>
 </ul>
</div>
 {% endblock %}

